.main{
  display: flex;
  width: 1240px;
  >.sidebar{
    margin: 0 20px;
    width: 300px;
    >*{
      margin-bottom: 12px;
      background: white;
    }
    .login{
      color: #008CFF;
    }
    .user{
      display: flex;
      >.avatar{
        border: 1px solid #ECECEC;
        padding: 4px;
        margin-right: 16px;
        img{
          height: 120px;
          width: 120px;
        }
      }
      >.info{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .recommends{
      margin: 0;
      >.recommend{
        &:hover{
          color: #008CFF;
        }
      }
    }
  }
}
@media (max-width:1300px){
  .main{
    width: auto;
    flex-direction: column-reverse;
    >.sidebar{
      margin: 0;
      width: 100%;
      >*{
        margin: 0;
      }
      display: none;
      &.index{
        display: block;
      }
    }
  }
}
@media (max-width: 500px) {
  .main{
    >*{
      margin: 0;
    }
  }
}