.main{
  display: flex;
  width: 1240px;
  @media (max-width:1300px){
    width: auto;
  }
  >.sidebar{
    @media (max-width:1300px) {
      display: none;
    }
    margin: 0 20px;
    width: 300px;
    >*{
      margin-bottom: 10px;
      background: white;
    }
    .login{
      color: #008CFF;
    }
    .user{
      display: flex;
      >.avatar{
        border: 1px solid #ECECEC;
        padding: 4px;
        margin-right: 16px;
        img{
          height: 120px;
          width: 120px;
        }
      }
      >.info{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .recommends{
      margin: 0;
      padding: 0 8px;
      >.recommend{
        margin: 8px 0;
        &:hover{
          color: #008CFF;
          text-decoration: underline;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .main{
    >*{
      margin: 0;
    }
  }
}