<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://static.ringoer.com/cdn/caho/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"
    />
    <script src="//at.alicdn.com/t/font_2403224_e23ryk9fwyk.js"></script>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
