<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://ali.ringoer.com/others/favicon.ico" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
  <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
  <script src="//at.alicdn.com/t/font_2403224_ev7ymauslm.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>