@color:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, #5CD1F0 90%, #5CD1F0 100%);
.main{
  width: 1240px;
  >.topbar{
    position: relative;
    background-color: white;
    >.banner{
      position: absolute;
      height: 240px;
      width: 100%;
      overflow: hidden;
      >img{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    >.userInfo{
      position: relative;
      color:white;
      padding: 40px;
      width: 100%;
      display: grid;
      grid-template-columns: 180px auto 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
      "avatar nickname _"
      "avatar signature _"
      "avatar action _";
      >.avatar{
        grid-area: avatar;
        border-radius: 50%;
        height: 160px;
      }
      >.nickname{
        margin-bottom: 10px;
        grid-area: nickname;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;
      }
      >.signature{
        margin-bottom: 10px;
        grid-area: signature;
        display: flex;
        align-items: center;
      }
      >.actionWrapper{
        grid-area: action;
        display: flex;
        justify-content: center;
        align-items: center;
        >.action{
          width: 80px;
          margin-right: 8px;
        }
      }
    }
    >.options{
      position: relative;
      max-width: 600px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      >.option{
        flex-grow: 1;
        >.tab{
          width: 100%;
          outline: none;
          background: none;
          border: none;
          &:focus{
            outline: none;
          }
          padding: 12px 0;
          &:hover{
            background: @color;
          }
          &.active{
            background: @color;
          }
        }
      }
    }
  }
  >.content{
    background: white;
    padding: 20px;
  }
}
@media (max-width:650px) {
  .main{
    >.topbar{
      >.banner{
        height: 100px;
      }
      >.userInfo{
        color: black;
        grid-template-columns: auto;
        grid-template-rows: 110px auto auto auto;
        grid-template-areas:
        "avatar"
        "nickname"
        "signature"
        "action";
        padding-bottom: 0;
        >*{
          justify-content: center;
        }
        >.avatar{
          height: 100px;
          position: absolute;
          left:50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}