.album{
  display: flex;
  justify-content: center;
  position: relative;
  >.pictures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    >.pictureWrapper{
      >.picture{
        max-height: 100px;
        max-width: 100px;
      }
    }
  }
}