.floor{
  width: 100%;
  margin: 16px 0;
  display: grid;
  grid-template-columns: 120px 1fr;
  >.author{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
    >*{
      margin: 8px 0;
    }
    >.img{
      grid-area: img;
      >img{
        width: 104px;
        height: 104px;
        border-radius: 50%;
      }
    }
    >.authorInfo{
      grid-area: author;
      display: flex;
      justify-content: center;
      flex-direction: column;
      >.mobileFloorInfo{
        display: none;
        color: #ACACAC;
        font-size: 12px;
      }
    }
    >.userAction{
      grid-area: btn;
      display: flex;
      justify-content: flex-end;
      flex-direction: column-reverse;
      width: 100%;
      >button{
        margin: 4px;
        border-radius: 8px;
      }
    }
  }
  .pcFloorInfo{
    position: relative;
    margin-bottom: 8px;
    >.sign{
      position: absolute;
      right: 0;
      top: -6px;
      font-size: 32px;
      color: #ACACAC;
    }
    >.createTime{
      margin-bottom: 32px;
      color: #ACACAC;
    }
  }
  .content{
    overflow: hidden;
    min-height: 160px;
    a{
      color: #4ac4e6;
    }
  }
  .hide{
    height: 212px;
  }
  .replyAction{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: white;
    >button{
      width: auto;
    }
  }
}
@media (max-width: 500px) {
  .floor{
    margin: 0;
    margin-bottom: 6px;
    background: white;
    grid-template-columns:auto;
    >.author{
      padding: 0 12px;
      margin-right: 0;
      display: grid;
      grid-template-columns: auto auto 1fr;
      grid-template-areas: 
      "img author btn";
      >.img{
        margin-right: 8px;
        >img{
          height: 36px;
          width: 36px;
        }
      }
      >.authorInfo{
        >.mobileFloorInfo{
          display: block;
        }
      }
      >.userAction{
        flex-direction: row;
        width: auto;
        >button{
          padding: 8px;
          width: 50px;
        }
      }
    }
    .pcFloorInfo{
      display: none;
    }
    .hide{
      height: 40px;
    }
  }
}