.floor{
  width: 100%;
  margin: 16px 0;
  display: grid;
  grid-template-columns: 120px 1fr;
  >.author{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
    >*{
      margin: 8px 0;
    }
    >.img{
      grid-area: img;
      >img{
        width: 104px;
        height: 104px;
        border-radius: 50%;
      }
    }
    >.authorInfo{
      grid-area: author;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      >.authorNicknameWrapper{
        >.authorNickname{
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
      >.tags{
        margin-top: 8px;
        display: flex;
        justify-content: center;
      }
      >.mobileFloorInfo{
        display: none;
        color: #ACACAC;
        font-size: 12px;
      }
    }
    >.userAction{
      grid-area: btn;
      display: flex;
      justify-content: flex-end;
      flex-direction: column-reverse;
      width: 100%;
      >button{
        margin: 4px;
        border-radius: 8px;
      }
    }
  }
  .pcFloorInfo{
    position: relative;
    margin-bottom: 8px;
    >.sign{
      position: absolute;
      right: 0;
      top: -6px;
      font-size: 32px;
      color: #ACACAC;
    }
    >.createTime{
      margin-bottom: 32px;
      color: #ACACAC;
    }
  }
  .content{
    overflow: hidden;
    min-height: 228px;
    margin-bottom: 24px;
    a{
      color: #4ac4e6;
    }
    ul{
      list-style: disc;
    }
    ol{
      list-style: decimal;
    }
  }
  .hide{
    height: 228px;
  }
  .replyAction{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: white;
    >button{
      width: auto;
    }
  }
}
@media (max-width: 500px) {
  .floor{
    margin: 0;
    margin-bottom: 6px;
    background: white;
    grid-template-columns:auto;
    >.author{
      padding: 0 12px;
      margin-right: 0;
      display: grid;
      grid-template-columns: auto auto 1fr;
      grid-template-areas: 
      "img author btn";
      >.img{
        margin-right: 8px;
        >img{
          height: 36px;
          width: 36px;
        }
      }
      >.authorInfo{
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "nickname tags"
        "floorInfo floorInfo";
        >.authorNicknameWrapper{
          grid-area: nickname;
        }
        >.tags{
          grid-area: tags;
          margin-top: 0;
          >*{
            margin-left: 4px;
            padding: 0 8px;
          }
        }
        >.mobileFloorInfo{
          grid-area: floorInfo;
          display: block;
        }
      }
      >.userAction{
        flex-direction: row;
        width: auto;
        >button{
          padding: 8px;
          width: 60px;
        }
      }
    }
    .pcFloorInfo{
      display: none;
    }
    .content{
      min-height: 160px;
    }
    .hide{
      height: 160px;
    }
    .replyAction{
      bottom: 0;
    }
  }
}